{% extends 'base.html.twig' %}

{% block title %}Edit Section{% endblock %}

{% block body %}
    <h1>Edit Section</h1>

    <div class="col-md-7 col-md-push-1">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control" name="title" placeholder="titre">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="type" placeholder="type">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="btn" placeholder="button">
                    </div>
                    <div class="form-group">
                        <textarea name="description" id="message" cols="30" rows="7" class="form-control" placeholder="description"></textarea>
                    </div>
                    <div class="form-group">
                        <textarea name="content" id="message" cols="30" rows="7" class="form-control" placeholder="contenue"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-send-message" value="update section">
                    </div>
                </form>
            </div>

        </div>
    </div>

    <a href="{{ path('section_table') }}">back to list</a>
{% endblock %}
